


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.header .photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.header .title {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.informations {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 width: 100%;
}

.informations p {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: .5rem;
}

.informations p::before {
  content: '';
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: .5rem;
}
.informations .job::before {
  background-image: url('/assents/img/icons/job.svg')
}
.informations .location::before {
  background-image: url('/assents/img/icons/location.svg')
}
.informations .phone::before {
  background-image: url('/assents/img/icons/phone.svg')
}
.informations .email::before {
  background-image: url('/assents/img/icons/email_icon.svg')
}



@media only screen and (min-width: 768px) {
 
.header {
  display: grid;
  grid-template-areas: 'photo title''photo informations';
  }

  .header .photo{
  grid-area: photo;
  margin: 0 auto;
  }
  
  .header .title{
    grid-area: title;
    text-align: start;
    max-width: 210px;
   }
    .header .informations{
      grid-area: informations;
  }

}

