.portifolio {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start ;
  width: 100%;
  margin: 0;
  padding: 0;
  
}

.portifolio li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 0;
}

.portifolio li .title{
display: flex;
flex-direction: row;
align-items: center;
  font-size: 1.25rem;
  font-size: 700;
  margin: 0;
  margin-bottom: .5rem;
 
}

.portifolio li .title.github::before{
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
 background-image: url('/assents/img/icons/github.svg');
 margin: .5rem;
}

